@model IEnumerable<ContactMaintainenceAPI.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Surname</th>
            <th>KnownAs</th>
            <th>OfficePhone</th>
            <th>MobilePhone</th>
            <th>StHomePhone</th>
            <th>EmailAddress</th>
            <th>ManagerName</th>
            <th>ContactType</th>
            <th>BestContactMethod</th>
            <th>JobRole</th>
            <th>Workbase</th>
            <th>JobTitle</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Firstname</td>
                <td>@contact.Surname</td>
            
                <td>@contact.OfficePhone</td>
                <td>@contact.MobilePhone</td>
                <td>@contact.StHomePhone</td>
                <td>@contact.EmailAddress</td>
                <td>@contact.ManagerName</td>
                <td>@contact.ContactType</td>
                <td>@contact.BestContactMethod</td>
                <td>@contact.JobRole</td>
                <td>@contact.Workbase</td>
                <td>@contact.JobTitle</td>
                <td>@contact.IsActive</td>
            </tr>
        }
    </tbody>
</table>
